/* ホーム画面全体 */

/* 全体を枠で囲む */
body {
    width: 100%;
    border:20px solid #47a89c;
    box-sizing:border-box;
}

.container {
    display: flex;
    justify-content: center;
}
 
.side {
    width: 90px;
}
 
.main {
    width: calc(100% - 90px);
}
 
.nav-link {
    padding: .3rem;
}
 

/* ホーム画面 メイン */
.main .main-header {
    padding: 20px;
    border-bottom: 1px solid #eef;
}
 
.main .main-header h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    color: #008080;
}

.main .main-header h1 {
    padding: 0.3em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #008080;
}
.main .main-header h1 p {
    margin: 0; 
    padding: 0;
}

.home {
    padding: 20px;
    border-bottom: 1px solid #eef;
}

.home h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 2;
    text-align: left;
    color: #008080;
}

.home h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 2;
    text-align: left;
}

/* イベント一覧文字 */
.home th {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 2;
    text-align: left;
    color: #008080;
}

/* ホーム画面 検索 */
 
.home form {
    padding: 2em 2em;
    margin: 0.5em 0;
}

.home .search1 {
    margin: 10px;
}

/* イベント詳細 */

.item{
  margin-bottom: 30px;
}

.btn{
  background: #008080;
  color: white;
  font-size:16px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 10 800px;
  text-align: left;
}
  


