/*
全体
****/
.container {
    display: flex;
    justify-content: center;
}
 
.side {
    width: 90px;
}
 
.main {
    width: calc(100% - 90px);
}
 
.nav-link {
    padding: .3rem;
}
 

/*
メイン
****/
.main .main-header {
    padding: 20px;
    border-bottom: 1px solid #eef;
}
 
.main .main-header h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.main .main-header h1 {
    padding: 0.3em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #008080;
}
.main .main-header h1 p {
    margin: 0; 
    padding: 0;
}

.home {
    padding: 20px;
    border-bottom: 1px solid #eef;
}

.home h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 2;
    text-align: left;
    color: #008080;
}

.home h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 2;
    text-align: left;
}

/*
検索
****/
 
.home form {
    padding: 2em 2em;
    margin: 0.5em 0;
}

/*
イベント申込用フォームボタン
****/

.btn {
  color: #fff;
  background-color: #008080;
}

/*
イベント申込用フォーム
****/

.form{
    width: 100%;
    margin:0 auto;
    border: 1px solid #9c9c9c;
    padding: 50px;
    box-sizing: border-box;
  }
  
  .item{
    margin-bottom: 20px;
  }
  
  .label_left{
    display: inline-block;
    width:25%;
    border-left: solid 5px #008080;
    padding-left: 15px;
    vertical-align:top;
  }
  
 .form input[type="text"], 
 .form input[type="email"] ,
 .form input[type="password"] {
      padding: 15px;
      width: 65%;
  }
  
 .form textarea{
    padding: 10px;
    height: 100px;
    font-size: 14px;
    width: 65%;
  }
  
 .form select{
    height: 50px;
    width: 65%;
  }
  
  .btns{
    display: flex;
    justify-content: center;
  }
  
 .form input[type="submit"]{
    background: #008080;
    color: white;
    font-size:16px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
  }
  
 .form input[type="reset"]{
    background: #C0C0C0;
    color: white;
    font-size:16px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
  }
