body{
    width: 100%;
}

.container{
    display: flex;
}
.ditch{
    height: 25px;
}

.container .main{
    width: calc(100%-90px);
}

.error{
    color: red;
}

.container .side{
    width: 160px;
    margin-left: 0;
    min-width: 160px;
}

.container .side ul{
    list-style: none;
    padding-left: 0px;
}

.registerList.table{
    width: 100%;
    table-layout: fixed;
}

.search-area{
    width: 50%;
    margin: 10px 400px 10px 400px;
    text-align: center;
    padding-top: 10px;
}

.side ul{
    list-style: none;
    padding-left: 0px;
}

