body{
    width: 100%;
}

.container{
    display: flex;
    max-width: max-content;
}
.ditch{
    height: 25px;
}

.side{
    width: 90px;
}

.container .main{
    width: calc(100%-90px);
    padding: 45px;
    background-color: mintcream;
}
.container .main h4{
    background-color: #7cb7cd;
    padding: 30px;
    font-weight: bolder;
}

.error{
    color: red;
}

.container .side{
    width: 160px;
    margin-left: 0;
    min-width: 180px;
    text-align: left;
}

.container .side ul{
    list-style: none;
    padding-left: 0px;
}

.container .side ul .nav-item{
    padding-bottom: 10px;
}

.registerList.table{
    width: 100%;
}

.search-area{
    width: 50%;
    margin: 10px 400px 10px 400px;
    text-align: center;
    padding-top: 10px;
}

.side ul{
    list-style: none;
    background: #f1f8ff;
    box-shadow: 0px 0px 0px 10px #f1f8ff;
    border: dashed 2px #668ad8;
    border-radius: 9px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 30px;
    padding: 0.5em 0.5em 0.5em 2em;
}
.side a{
    margin-top: 20px;
    text-decoration: none;
    FONT-WEIGHT: 600;
}

.side .logout{
    margin-top: 100px;
    text-align: center;
}

.form-group p{
    width: 100%;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: magenta;
}

.container .main .registerList .table{
    font-size: smaller;
}